 <div class="buscador">
 <ul>
 <li>
 <form>
 <div class="barra-buscar">
    <button class="boton-buscar"><ion-icon name="search-outline" id="icono"></ion-icon></button>
    <input type="text" class="input-search" placeholder="Buscar...">
  </div>
  </form>
{% if is_granted('ROLE_ADMIN') %}
  </li>
  <li><div class="icono"><ion-icon name="add-outline"></ion-icon></div></li>
  </ul>
<div class = "add">
  <div class = "cuerpo-add">
  <div class="cerrar"><ion-icon name="close-outline"></ion-icon></div>
  <h3 style="display:flex; justify-content:center;"><strong>Añadir</strong></h3>
  <div class="formulario">
          {{ form_start(addVehicle) }}
          <div class="filter-flex">
          {{ form_row(addVehicle.tipos, {
                label: ' '
              }) }}
          {{ form_row(addVehicle.marca, {
                label: ' '
              }) }}
              </div>
          {{ form_row(addVehicle.nombre, {
                label: ' ',
                'id': 'input-add-name'
              }) }}
              <div class="piezas-flex">
              {{ form_row(addVehicle.piezas, {
                label: ' ',
                'id': 'input-add-pieza'
              }) }}
              </div>
          <div class="button-flex">
          {{ form_row(addVehicle.enviar, {
                label: 'Enviar',
                'class': 'enviar effect01'
              }) }}
          </div>
          {{ form_end(addVehicle) }}
    <br>
    <br>
    </div>
  </div>
{% endif %}

</div>  
</div>